@model CombinedViewModel

<section class="inspired_product_area section_gap_bottom_custom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="main_title">
                    <h2><span>Inspired products</span></h2>
                    <p>Bring called seed first of third give itself now ment</p>
                </div>
            </div>
        </div>
        

        <div class="row">
            @if (Model.Inspireds != null && Model.Inspireds.Any())
            {
                @foreach (var item in Model.Inspireds)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="single-product">
                        <div class="product-img">
                            <img class="img-fluid w-100" src="~/files/images/@item.ImageName" alt="@item.Name" />
                            <div class="p_icon">
                                    
                                    <a asp-action="Details" asp-controller="Users" asp-route-modelName="Inspireds" asp-route-id="@item.Id">
                                        <i class="ti-eye"></i>
                                    </a>

                                    <form asp-action="Add" asp-controller="Favorites" method="post" style="display: inline;">
                                        <input type="hidden" name="productId" value="@item.Id" />
                                        <input type="hidden" name="productType" value="@item.GetType().Name" />
                                        <button type="submit" >
                                            <i class="ti-heart"></i>
                                        </button>
                                    </form>

                                    <form asp-action="Add" asp-controller="Cart" method="post">
                                        <input type="hidden" name="productId" value="@item.Id" />
                                        <input type="hidden" name="productType" value="@item.GetType().Name" />
                                        <button type="submit" >
                                            <i class="ti-shopping-cart"></i>
                                        </button>
                                    </form>
                            </div>
                        </div>
                        <div class="product-btm">
                            <a href="#" class="d-block">
                                <h4>@item.Name</h4>
                            </a>
                     <div class="mt-3">
                                <span class="mr-4">$@item.Af_Price</span>
                                <del>$@item.Be_Price</del>
                            </div> 
                        </div>
                    </div>
                </div>
            }
      }
        </div>
    </div>
</section>
