@using Project_.DAL.Models
@model IEnumerable<CartItem>

@{
    var product = ViewBag.Product; // المنتج المرسل من الـ Controller
}

@if (product != null)
{
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="s_product_img">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                                    <img class="img-fluid" src="~/files/images/@product.ImageName" alt="@product.Name" />
                                </li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="~/files/images/@product.ImageName" alt="@product.Name" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3 class="text-capitalize">
                            @(product is Inspired ? ((Inspired)product).Name :
                                (product is Featured ? ((Featured)product).Name :
                                ((NewProd)product).Name))
                        </h3>
                        <h2>
                            @if (product is Inspired inspired)
                            {
                                @("$" + inspired.Af_Price)
                            }
                            else if (product is Featured featured)
                            {
                                @("$" + featured.Af_Price)
                            }
                            else if (product is NewProd newProd)
                            {
                                @("$" + newProd.Af_Price)
                            }
                        </h2>
                        <ul class="list">
                            <li>
                                <a class="active" href="#"><span>Category</span> : Product Category</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Availability</span> :
                                    @if (product is Inspired inspiredProduct)
                                    {
                                        @(inspiredProduct.IsDeleted ? "Out of Stock" : "In Stock")
                                    }
                                    else if (product is Featured featuredProduct)
                                    {
                                        @(featuredProduct.IsDeleted ? "Out of Stock" : "In Stock")
                                    }
                                    else if (product is NewProd newProdProduct)
                                    {
                                        @(newProdProduct.IsDeleted ? "Out of Stock" : "In Stock")
                                    }
                                </a>
                            </li>
                        </ul>
                        <p>
                            @if (product is NewProd newProduct)
                            {
                                @newProduct.Description
                            }
                            else
                            {
                            <p>Mill Oil is an innovative oil filled radiator with the most modern technology...</p>
                            }
                        </p>
                        <div class="product_count">
                            <label for="qty">Quantity:</label>
                            <input type="number" name="qty" id="sst" maxlength="12" value="1" min="1" title="Quantity:" class="input-text qty" />
                            <button onclick="changeQuantity(1)" class="increase items-count" type="button">
                                <i class="lnr lnr-chevron-up"></i>
                            </button>
                            <button onclick="changeQuantity(-1)" class="reduced items-count" type="button">
                                <i class="lnr lnr-chevron-down"></i>
                            </button>
                        </div>
                        <div class="card_area">
                            <a asp-action="Add" asp-controller="Cart" asp-route-id="@product.Id">
                                Add to Cart
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>لا توجد منتجات للعرض.</p>
}


<script>
    function changeQuantity(value) {
        var qtyInput = document.getElementById('sst');
        var currentValue = parseInt(qtyInput.value);
        if (!isNaN(currentValue) && currentValue + value > 0) {
            qtyInput.value = currentValue + value;
        }
    }
</script>
