@model IEnumerable<ItemVM>

@section Css {

	<link href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.dataTables.min.css" rel="stylesheet" />

}

@section Header {

	<h2>Items Management</h2>

}

<div class="mb-3">
	<a class="btn btn-primary text-white" asp-controller="Items" asp-action="Create">
		<i class="fa fa-plus"></i> Create New Item
	</a>
</div>

<div class="col-md-12">
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Show All Items</h3>
		</div>
		<div class="card-body">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Products</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.Name</td>
							<td>@(item.IsDeleted ? "Deleted" : "Active")</td>
							<td>@item.ProductName</td>

							<td>
								<a class="btn btn-warning btn-sm" asp-route-id="@item.Id" asp-controller="Items" asp-action="Edit">
									<i class="fa fa-edit"></i> Edit
								</a>
								<a class="btn btn-info btn-sm" asp-route-id="@item.Id" asp-controller="Items" asp-action="Details">
									<i class="fa fa-info-circle"></i> Details
								</a>
								<a class="btn btn-danger btn-sm delete-btn" href="javascript:void(0)" data-id="@item.Id">
									<i class="fa fa-trash"></i> Delete
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@section Js {

	<script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.12/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.12/vfs_fonts.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.colVis.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
	<script>
		new DataTable('table', {
			layout: {
				topStart: {
					buttons: [
						'copy', 'excel', 'pdf'
					]
				}
			}
		});

		const c = document.querySelectorAll(".delete-btn");

		c.forEach(function (button) {
			button.addEventListener("click", async () => {
				const swalWithBootstrapButtons = Swal.mixin({
					customClass: {
						confirmButton: "btn btn-success",
						cancelButton: "btn btn-danger"
					},
					buttonsStyling: false
				});

				swalWithBootstrapButtons.fire({
					title: "Are you sure?",
					text: "You won't be able to revert this!",
					icon: "warning",
					showCancelButton: true,
					confirmButtonText: "Yes, delete it!",
					cancelButtonText: "No, cancel!",
					reverseButtons: true
				}).then(async (result) => {
					if (result.isConfirmed) {
						const id = button.dataset.id;

						const response = await fetch(`/Admin/Items/DeleteConfirmation/${id}`, {
							method: 'POST',
							headers: {
								"Content-Type": "application/json"
							}
						});

						if (response.ok) {
							$(button).closest("tr").remove();
							if ($('table tbody tr').length === 0) {
								$('table').after('<div class="alert alert-info">No data available.</div>');
							}

							const Toast = Swal.mixin({
								toast: true,
								position: "top-end",
								showConfirmButton: false,
								timer: 3000,
								timerProgressBar: true,
								didOpen: (toast) => {
									toast.onmouseenter = Swal.stopTimer;
									toast.onmouseleave = Swal.resumeTimer;
								}
							});

							Toast.fire({
								icon: "success",
								title: "Deleted successfully"
							});

							swalWithBootstrapButtons.fire({
								title: "Deleted!",
								text: "Your file has been deleted.",
								icon: "success"
							});
						}
					} else if (result.dismiss === Swal.DismissReason.cancel) {
						swalWithBootstrapButtons.fire({
							title: "Cancelled",
							text: "Your file is safe :)",
							icon: "error"
						});
					}
				});
			});
		});
	</script>
}
